.inner_container:before, .inner_container:after { content: '.'; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; width: 0; height: 0; }
.inner_container:after { clear: both; }
.inner_container { zoom: 1; width: 102%; margin-left: -1%; }

[class*="col_"] { display: inline; float: left; margin-right: 1%; margin-left: 1%; }
.col_1of3 { width: 31.33333333333333%; }

@media (max-width: 600px) {
	[class*="col_"] { width: 98%; }
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.inner_container { margin: 1% 0 1% 0%; }
	.col_1of3 { width: 100%; }
}

.container { margin-left: auto; margin-right: auto; width: 960px; }

[class*="grid"] { display: inline; float:left; margin-left: 10px; margin-right: 10px; }
input[class*="grid"], select[class*="grid"], textarea[class*="grid"] { float: none; margin-left: 0; margin-right:0; }


.container .grid_12 { width: 100%; }
input.grid_12, textarea.grid_12, .uneditable-input.grid_12 { width: 960px; }

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.clearfix:before, .clearfix:after,  .container:before, .container:after { content: '.'; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; width: 0; height: 0;
}
.clearfix:after, .container:after { clear: both; }
.clearfix, .container { zoom: 1; }

@media screen and (min-width: 768px) and (max-width: 979px) { 
	.container { margin-left: auto; margin-right: auto; width: 720px; }
	[class*="grid"] { display: inline; float:left; margin-left: 5px; margin-right: 5px; }

	.container .grid_12 { width: 710px; }
	input.grid_12, textarea.grid_12, .uneditable-input.grid_12 { width: 720px; }


	@media screen and (max-width:767px) {  

		.container { margin-left: auto; margin-right: auto; width: 90%; }

		[class*="grid"] { display: inline; float:left; margin-left: auto; margin-right: auto; }

		.container [class*="grid"] { width:100%; }
	}

}